<section class="home">
    <img src="../../assets/train.jpg">

    <div class="homecontent">
        <h1>Get started with login</h1>
       
        <a [routerLink]="['/register']" class="btn btn-lg btn-light">Register</a> &nbsp;
        <a [routerLink]="['/login']" class="btn btn-lg btn-primary">Login</a>
    </div>
    <!-- <div class="col-lg-2">
        <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
        <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
    </div> -->
    <!-- <div>
        <footer><span class="text-danger"><strong>This site is copyright &copy; to LTI. 
          All rights are reserved here ..!</strong></span></footer>
         
    </div> -->
  
</section>
