<div class="contwrapper">
    <div class="routehead">You may contact us </div> <br>
    <div class="content-ele">
    
    
    <p><b>Customer Care Numbers : </b>0755-6610661, 0755-4090600 (Language: Hindi and English)..</p>  
    
    
    <p>&nbsp;</p>
    <p><b>For Railway tickets booked through ORRS </b></p>
    <p><b>General Information</b></p>
    <p><b>I-tickets/e-tickets : </b> <a href="mailto:care@orrs.co.in">care@orrs.co.in</a></p> <br>
    <p><b>For Cancellation E-tickets : </b> <a href="mailto:etickets@irctc.co.in">etickets@orrs.co.in</a></p> <br>
    <p><b>For Mumbai Suburban Season tickets : </b> <a href="mailto:seasontickets@orrs.co.in">seasontickets@orrs.co.in</a></p> <br>
    
    <p>&nbsp;</p>
    
    <b>For ORRS SBI Card users who do not receive the card within 01 month from the date of application kindly call on the Railway SBI Card Helpline nos. at 0124-36784943 or 1800180789 (if calling from BSNL/MTNL line) or send email to <a href="mailto:customercare@sbicard.com">customercare@sbicard.com</a>. For other queries on your ORRS SBI card account, kindly email at <a href="mailto:loyaltyprogram@orrs.co.in">loyaltyprogram@orrs.co.in</a>
    <br><br>
    <p><b>Registered Office / Corporate Office : </b></p> <br>
    <p><b>Online Railway Reservation System Ltd.,</b><br>B-148, 8th Floor, Statesman House,<br> Road, Mumbai 110001.<br> 
    </p> <br>
    </b>
    </div>
    </div>
    <b></b>

    
