<div class="container">
    <div class="row">    
        <div class="col-md-6">    
            <div class="card">    
                <div class="text-center">    
                     <h1>Login</h1>    
                    <h5>Feel Free to Login</h5><hr> 
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">EmailId</label>
                      <input formControlName="EmailId" type="text" class="form-control" id="emailid" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input formControlName="Password" type="password" class="form-control" id="password"> 
                      <a routerLink="/Forgot Password"> Forgot Password !</a>                      
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">keep Me Signed</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                  </form> 
                  <a routerLink="/register">New User ? click to register !</a>                     
            </div>    
        </div>    
    </div>    
</div>